:root {
    --primary: #f4511e !important;
    --primary-hover: #f57c00 !important;
  }

.navbar {
    padding-left: 10px;
    padding-right: 10px;
}

.buttons {
    width: 250px;
    margin: auto;
}

.button-container {
    padding-bottom: inherit;
}

.about-btn {
    margin-top: 10px;
    margin-right: 20px;
}

#sunshine {
    width: 10%;
    padding-left: inherit;
}

#sombrero-image {
    width: 70%;
    margin: auto;
}
.weather-text {
    font-size: 1rem;
    font-weight: bold;
}

.hide {
    display: none;
}